
<link rel="stylesheet" href="css/nav.css">
<nav>
      
        <div class="nav-links">
            <a href="/"><img src="Pictures/FILM(5).png" alt="" class="logo">  </a>

            <ul>
                <li class="home"><a href="/">Home</a></li>

                <li><a href="./news.hbs">News</a></li>
                {{!-- <li><a href="nav.hbs">Login</a></li> --}}
                <li><a href="./signup.hbs">Signup</a></li>
                
            </ul>
            
        </div>
    
    </nav>