<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/css/news.css">

</head>
<body>
    <div class="menu">
      
    
     {{>nav}}
        
    </div>
   <div class="right">
        <img class="rightPic" src="Pictures/Avatar2.jpeg" alt="">
        <div class="rightDis">
          
          <h3>Avatar 2 is set to hit the threaters on Dec 16, 2022.</h3>
          <p> 
            Avatar 2 (also marketed as James Cameron's Avatar 2)is an upcoming American epic science fiction film directed by James Cameron and produced by 20th Century Studios. It is the second film in Cameron's Avatar franchise, following Avatar (2009).The film's theatrical release has been subject to eight delays, with the latest occurring on dec16, 2022
          </p>
        </div>
      </div>

      <div class="right">
        <img class="rightPic" src="Pictures/Prabhas.jpeg" alt="">
        <div class="rightDis">
          
          <h3>Exclusive : Prabhas becomes the highest paid actor in India.</h3>
          <p> 
            Prabhas has emerged as the biggest and highest paid superstar in the country today. His remuneration for the upcoming film 'Adipurush' is rumoured to be close to 150 crores, surpassing the fees of top Bollywood stars.On the professional front, Prabbhas committed five long years to ‘Baahubali’ which emerged as the highest-grossing franchise in India, post which he won hearts with his performance in ‘Saaho’. </p>
        </div>
      </div>

      <div class="right">
        <img class="rightPic" src="Pictures/Netflix.jpeg" alt="">
        <div class="rightDis">
          
          <h3>Netflix announces up to 60% price drop in India.</h3>
          <p> 
            Video streaming platform Netflix on December 14 announced a price drop of up to 60% in its subscription services in India as it looks to reach out to a wider user base in the country. The company’s mobile only subscription plan will not cost ₹149 a month, down from ₹199 a month.The biggest price drop of about 60% is in the platform's basic plan to ₹199 a month from ₹499 a month.        </div>
      </div>

      <div class="right">
        <img class="rightPic" src="Pictures/Ramayan.jpeg" alt="">
        <div class="rightDis">
          
          <h3>A trilogy film based on Ramayan is on the way ? </h3>
          <p> 
            Filmmaker Madhu Mantena had announced the creation of an ambitious mythological universe — the Ramayan trilogy — a few months ago. The live-action 3D films, to be helmed by Ravi Udyawar and Nitesh Tiwari, have been in conception for the last four years.Madhu says, “Nitesh is leading us, and this is his area. Yes, we’re looking at actors from across India who can fit the bill, but I don’t know where Kareena’s name came from because we haven’t reached out to her.        </div>
      </div>

  
</body>
</html>